head {
	background-color:#1CD620;
}

body {
	background-color:#1CD620;
}

#one
{
	background-color:#1CD620;
	font-family:zapinfo;
	color:#FFFFFF;
	text-align:center; 
}
/*this is the card style page*/